label {
    padding-right: 20px;
}

.radio-btn {
    margin-right: 5px;
}

.image-box {
    border: 1px solid gray;
    height: 300px;
    display: block;
    border-radius: 5px;
    margin-bottom: 10px;
}

img {
    max-height: 100%;
    max-width: 100%;
}